div{
  background-image: url("list_bg.jpg");
  width: 200px;
  padding: 25px;
  border: 25px solid beige;
  background-repeat: no-repeat;
  position:fixed;
  background-attachment: fixed;}

ul,input,button{
position: relative;
}
